body {
    margin: 0;
    padding: 0;
    background: #eee;
}

label {
    display: block;
    padding-top: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

label input {
    margin-right: 10px;
}

table tbody tr td:first-child {
    width: 50px;
}

table tbody tr td:nth-child(3) {
    width: 150px;
}

table tbody tr td:last-child {
    width: 115px;
}

table tbody tr td button {
    margin: 0 2px;
}

.comments ul {
    padding: 0;
    padding-top: 10px;
    padding-left: 10px;
    width: 445px;
}

.comments ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 4px;
}

.comments ul li span:nth-child(1) {
    display: block;
    text-align: left;
    width: 10%;
}

.comments ul li span:nth-child(2) {
    width: 80%;
}

.comments ul li span:nth-child(3) {
    display: block;
    text-align: left;
    width: 130px;
}