body {
    margin: 0;
    padding: 0;
    background: #eee;
}

.container {
    min-height: calc(100vh - 150px);
}

header {
    padding: 15px;
    background: #2d3436;
    margin-bottom: 30px;
}

header h1 {
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

footer {
    padding: 15px;
    background: #2d3436;
}

footer p {
    padding: 0;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
}

label {
    display: block;
    padding-top: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

label input {
    margin-right: 10px;
}

table tbody tr td:first-child {
    width: 50px;
}

table tbody tr td:nth-child(3) {
    width: 150px;
}

table tbody tr td:last-child {
    width: 115px;
}

table tbody tr td button {
    margin: 0 2px;
}

.comments {
    padding: 10px 15px 0;
}

.comments-title {
    margin-bottom: 10px;
}

.comments ul {
    padding: 0;
    padding-top: 5px;
}

.comments ul li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 4px;
    padding: 15px;
    border-radius: 5px;
    background: #fff;
    font-size: 14px;
}

.comments ul li span:nth-child(1) {
    width: calc(100% - 115px);
}

.comments ul li span:nth-child(2) {
    display: block;
    text-align: left;
    width: 90px;
}

.no-comment {
    margin-top: 15px;
    font-size: 14px;
}

.comment-text {
    margin: 0 10px;
    color: #666;
}